<%= form_with(model: course_section, local: true) do |form| %>
  <% if course_section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_section.errors.count, "error") %> prohibited this course_section from being saved:</h2>

      <ul>
        <% course_section.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Name %>
    <%= form.text_field :Name %>
  </div>

  <div class="field">
    <%= form.label :ClassNumber %>
    <%= form.number_field :ClassNumber %>
  </div>

  <div class="field">
    <%= form.label :Component %>
    <%= form.text_field :Component %>
  </div>

  <div class="field">
    <%= form.label :Location %>
    <%= form.text_field :Location %>
  </div>

  <div class="field">
    <%= form.label :Times %>
    <%= form.text_field :Times %>
  </div>

  <div class="field">
    <%= form.label :Instructor %>
    <%= form.text_field :Instructor %>
  </div>

  <div class="field">
    <%= form.label :Session %>
    <%= form.text_field :Session %>
  </div>

  <div class="field">
    <%= form.label :Topic %>
    <%= form.text_field :Topic %>
  </div>

  <div class="field">
    <%= form.label :GradersAvailable %>
    <%= form.number_field :GradersAvailable %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
