<p>
  <strong>Name:</strong>
  <%= @course_section.Name %>
</p>

<p>
  <strong>Classnumber:</strong>
  <%= @course_section.ClassNumber %>
</p>

<p>
  <strong>Component:</strong>
  <%= @course_section.Component %>
</p>

<p>
  <strong>Location:</strong>
  <%= @course_section.Location %>
</p>

<p>
  <strong>Times:</strong>
  <%= @course_section.Times %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @course_section.Instructor %>
</p>

<p>
  <strong>Session:</strong>
  <%= @course_section.Session %>
</p>

<p>
  <strong>Topic:</strong>
  <%= @course_section.Topic %>
</p>

<%= link_to 'Edit', edit_course_section_path(@course_section) %> |
<%= link_to 'Back', course_sections_path %>
